.headerContacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-grey-light);
  padding: 1rem;
  font-family: var(--primary-font);
}
.headerContact {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-grey-dark);
  font-size: 1.6rem;
}
.headerContact svg {
  color: var(--primary-color);
}
